node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

.env
.env.*
!.env.example
*.pem

dist/
build/
out/
.vite/
.vercel/
.cache/
.temp/

logs
*.log
*.log.*
debug.log
error.log
eslintcache
.bin

venv/
.venv/

*.pyc
__pycache__/


.ipynb_checkpoints/

uploads/

.migrate.json
coverage/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

# Docker
docker-compose.override.yml