services:
  backend:
    build:
      target: production
    environment:
      NODE_ENV: production
    volumes: []
    command: npm start

  ml-api:
    build:
      target: production
    environment:
      FLASK_ENV: production
      FLASK_DEBUG: 0
    volumes: []

  frontend:
    build:
      target: production
    volumes: []
    ports:
      - "80:80"
